@model List<Cita>;

@{
    ViewData["Title"] = "Inicio Citas";
    var citas = Model;
}


<h1 class="display-4">LISTA CITAS</h1>

<button type="button" class="btn btn-dark mb-3" onclick="location.href='@Url.Action("Create", "Cita")'">Crear</button>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">IdCita</th>
            <th scope="col">Fecha</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Medico</th>
            <th scope="col">Citado</th>
            <th scope="col">Hora</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cita in citas)
        {
            <tr>
                <td>@cita.IdCita</td>
                <td>@cita.Fecha</td>
                <td>@cita.Descripcion</td>
                <td>@cita.NombreMedico</td>
                <td>@cita.CorreoUsuario</td>
                <td>@cita.Hora</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <a asp-action="Details" asp-route-IdCita="@cita.IdCita" class="btn btn-primary me-2"><i class="bi bi-eye-fill"></i></a>
                        <a asp-action="Edit" asp-route-IdCita="@cita.IdCita" class="btn btn-warning me-2"><i class="bi bi-pencil-square"></i></a>
                        <a asp-action="Delete" asp-route-IdCita="@cita.IdCita" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>
